.section-experience {
  min-height: 100vh;
  padding: 145px 0;

  &__title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 53px;

    &--left {
      margin-top: 300px;
    }
  }

  &__text {
    
  }

  &__skills {
    display: flex;
  }

  &__shape {
    width: 60%;
    background: url('../images/content/skill-bg.png') no-repeat center center / cover;
  }

}