.slider-thumbs {

  &__item {

    &:hover {
      outline: 1px solid $accent-color;
    }

    &.active {
      outline: 1px solid $accent-color;
    }

    button {
      padding: 0;
    }

  }

  @include phones {
    display: none;
  }
  
}