.topline-component {
  background-color: #43436B;
  color: hsl(0deg 0% 50%);
  font: 1em sans-serif;

  &__container {
    padding: 16px 0;
    display: flex;
    align-items: center;
  }

  &__title {
    margin-left: 25px;
  }

  &__buttons {
    margin-left: auto;
  }

  &__btn {
    color: hsl(0deg 0% 90%);
    text-decoration: underline;
  }
}