.slider-link {
  display: flex;
  color: $link-color;
  text-decoration: none;
  flex-direction: row-reverse;
  justify-content: flex-end;

  svg {
    fill: $link-color;
    width: 20px;
    margin-right: 15px;
    
  }

  &:hover {

    svg {

    }
  }
}