section.section-hero
  .container
    include ../page-header/page-header
    .section-hero__welcome
      p Личный сайт <br> веб разработчика
      h1 Андрей <br> Оськин
    a(href="#").section-hero__scroll Скролл
      +icon('scroll', 'section-hero__scroll-icon')
    include ../section-about/section-about