section.section-about
  .section-about__row 
    +image('content/user.jpg', 'section-about__img')
    .section-about__content   
      p Привет, меня зовут 
      h2 Андрей Оськин
      p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
  .section-about__row 
    .section-about__info 
        p Проживаю:
        p Москва
        p Возраст:
        p 37 лет
        p Родился:
        p 06 октября 1983
    .section-about__content 
      cite.section-about__cite Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
