.page-header 
  a.logo.page-header__logo AO
  +nav('page-nav', ["Обо мне", "Навыки", "Работы", "Отзывы"], 0)
  +nav('page-nav--mobile', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы"], 0)
  .page-nav__toggle
    .page-nav__toggle-wrapper
      .page-nav__toggle-inner
  +socials ('header')