.skill-row {

  margin-top: 54px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    opacity: 1;
    font-weight: 700;
    margin-bottom: 40px;
  }
}