.socials {
  display: flex;
  align-items: center;

  &__icon {
    width: 29px;
    fill: $dark-color;
    margin-right: 35px;

    &:hover {
      fill: $accent-color;;
    }
  }

  &--mobile {
    display: none;
  }

  @include tablets {
    justify-content: flex-end;
    flex: 1;
    margin-right: 88px;
  }

  @include phones {
    margin-right: 0;
  }

  &--footer {
    @include tablets {
      justify-content: flex-start;
      margin-bottom: 30px;
    }

  }

}